.App {
  text-align: center;
}

.divTable {
  display: table;
  max-width: 20em;
  float: right;
  display:flex;
  align-items: center;
}

.divTableRow {
  height: 50px;
  width: 400px;
  background-color: white;
}

.name {
  position: relative;
  font-weight: bold;
  font-size: 23px;
  right: 40px;
}

.data {
  font-size: 20px;
}

.container {
  position: relative;
  left: 250px;
  display: flex;
  background-color: #EF767A;
  justify-content: center;
  max-width: 1000px;
}

img {
  position: relative;
  height: 16em;
  right: 140px;
  opacity: 0.9;
  background-color: white;
  border-radius: 160px;
  padding: 0px;
}

input {
  box-sizing: border-box;
  font-size: 2rem;
  padding: 1rem;
  display: block;
  margin: 2rem auto;
}

body {
  background-image: url("./pokemonBackground.png");
}

h1 {
  font-size: 50px;
  color: white;
}